@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');


*{
    margin: 0;
}



html {
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h1{

    color: white;
    font-weight: bold;
    text-align: center;
    
}

h4{
    color: white;
    /* font-weight: bold; */
    text-align: center;
}

nav{
    width: 100%;
    height: 15vh;
    background-color:black;
    border: 4px solid white;
    display: flex;
    align-items: center;
    justify-content: center;

    background-position: center;
    background-attachment: fixed;
    position:sticky;
    top: 0;
    z-index: 6;

    
} 

#titre{
    width: 30%;
    height: 100%;
    background-color:black;

    /* border-top: 30%; comment faire descendre la bordure du titre*/
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



main{
    width: 100vw;
    height: 85vh; /* POURQUOI J'AI UNE BORDURE ARRONDIE EN HAUT A GAUCHE */
    background-color:#2F4F4F;

    display: flex;
    align-items: center;
    z-index: 5;
    
} 


#presentation{
    width: 50%;
    height: 100%;
    background-color:red;
    display: flex;
    flex-direction: column;
    
} 



#description{
    width: 100%;
    height: 80%;
    background-color:black;
    border: 4px solid black;
    text-align: right;
    display: flex;
    justify-content: center;

   flex-direction: column;
   padding: 10%;
    
} 

.bloc{
    width: 50%;
    height: 30%;
    background-color: palevioletred;
    border: 4px solid black;
    justify-content: space-around;
    /* display: flex;
   flex-direction: column; 
   padding: 5vh;*/
    
}


.dev{
    font-size: 70px;
    font-weight: bold;
    color: red;
    font-family:'Gajraj One', sans-serif;;
    text-align: left;

    /* font-family: 'Barlow Condensed', sans-serif;
     font-family: 'Barlow Condensed', sans-serif; */
}

#hello{
    text-align: left;
   /* align-content: flex-end; COMMENT FAIRE DESCENDRE MON TEXTE*/
}

#para{
    font-size: 30px;
    font-family: 'Jockey One', sans-serif;
    text-align: left;
    padding: 20px;
}

#reseau{
    width: 40%;
    height: 20%;
    background-color:#2F4F4F;
    border: 4px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
 /*   padding-bottom: 30px;
 POURQUOI MES BULLES NE FONT PAS LA MEME TAILLE ????*/

     /* padding-right: 60px;
    padding: 30%;
    flex-direction: column;*/
    
}

.lecture{
    font-size: 20px;
    color:white;
    font-weight: bold;
}

.bulle{
    width: 50px;
    height: 50px;
    background-color:#2F4F4F;

    justify-content: space-around;
    display: flex;
    /* flex-direction: column; */
    border-radius: 150px;
    
}

#linkdin{
    /* width: 50px;
    height: 50px; */
    background-image: url(images/linkedin-2935407_1280.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#github{
    background-image: url(images/logo-2582757_1280.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-color: red;
    /* POURQUOI MON LOGO NE PREND PAS TOUTES LA PLACE */
}

#pic{
    width: 50%;
    height: 100%;
    background-color: black;

    /*
    background-color:#191970; */

   position: relative;
}

#photo{
    width: 400px;
    height: 500px;
    background-color:olive;

    background-image: url(images/woman-8402067_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 45%;
    position: absolute;
    right: -20px;
    /* METTRE LA PHOTO UN PEU A L'EXTERIEUR EN HAUT ET A DROITE DE LA PAGE */
}

/* button{
    
background-color:transparent;
    
} */

a{  
    outline: none;
  text-decoration: none;

}



* {
    margin:0;
  }
  body {
    background-color:black;
  }
  
  .container {
    max-width: 1200px;
    max-height: 900px;
    margin: auto;
    height:85vh;
    background-color:black;
    position:relative;
    z-index: 1;
    overflow: hidden;
 
  }
  
  .bullegeneral {
    width:200px;
    height:200px;
    background-color:purple;
    border-radius:100%;
    
  }
  
  #bulle1 {
    width: 400px;
    height: 300px;
    background-image: url(images/michael-mcauliffe-J9QhKQzuh0g-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    border-radius: 50%;
    position:absolute;
    top:-30px;
    left: 150px;
 z-index: 4;
  }

  #bulle2 {
    width: 250px;
    height: 250px;
    font-size: 30px;
    color:red;
    font-weight: bold;
    font-family:'Gajraj One', sans-serif; ;
    background-image: url(images/ivan-zhukevich-7ZC4qO3Gj6g-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 10%; 
    border-radius: 100%;
    position:absolute;
    top:100px;
    left:700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cv{
    width: 100px;
    height:50px;
  border:1px solid red; 
    /* margin-right: auto;
    margin-left: auto; */
    top: 100px;
    left: 5px;
  }

  #bulle3 {
    font-size: 20px;
    color: magenta;
    font-weight: bold;
    width: 250px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(images/hipster-mum-XookgCxFw6Q-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    position:absolute;
    bottom:5px;
    left:1px;
  }

  #competence{
    font-size: 10px;
    width: 100px;
    height:50px;
  border:1px solid red; 
    /* margin-right: auto;
    margin-left: auto; */
    top: 100px;
    left: 5px;
  }

  #bulle4 {
    font-size: 30px;
    color:olivedrab;
    font-weight: bold;
    text-align: center;
    width:200px ;
    height: 400px;
    background-image: url(images/ospan-ali-nyrSsBzhZ4Y-unsplash.jpg);
    background-size: cover;
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

    position:absolute;
    top: -20px;
    right:1px;
    bottom: 50px;
    z-index: 4;
  }
  #bulle5 {
    width: 400px;
    height: 200px;
    background-image: url(images/louvre-817719_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;

   


    position:absolute;
    /* top:20px; */
    right: -60px;
    bottom: -40px;
  }

  #bulle6 {
    
    
    font-size: 18px;
    font-weight: bold;
    color: magenta;
    width: 300px;
    height: 300px;
   
    font-weight: bold;
    background-image: url(images/florian-klauer-mk7D-4UCfmg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items: center;
    background-position: 70% 50%;
    position:absolute;
    bottom: -30px;
    left: 400px;
  }

  #hobbie{
    width:150px;
    height:150px;
  /* border:1px solid red; */
    margin-right: auto;
    margin-left: auto;
  }






p{
    text-align: center;
    background-position: center;
} 

#doll{
    width: 100px;
    height: 100px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:transparent;
    border:none;
    position: absolute;
    right: 20px;
    bottom: 10px;
    /* je voudrais mettre mon bouton a droite et faire en sorte qui suivent ma page */
}
#sac {
    width: 100%;
}




@media screen and (max-width:1200px){
  .container{
    width: ;
    height: ;
  }
}